
TemplatePlugin/Debug/*
TemplatePlugin/Release/*
TemplatePlugin/GeneratedFiles/*
*Release/*
*Debug/*
*release/*
*debug/*
Win32/*
ipch/*

*.user
*.sdf
*.opensdf
*.suo

# Compiled source #
###################

*.o
*.so

# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib
*.com
*.class
*.exe

# Qt-es

*.pro.user
*.pro.user.*
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*-build-*

# QtCreator

*.autosave
